<div class="container mt-5">
    <table class="table table-hover"">
        <thead class="sticky-top">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author(s)</th>
                <th scope="col">Publisher</th>
            </tr>
        </thead>
        <tbody>
            @{
                await Html.RenderPartialAsync("_ItemList");
            }
        </tbody>
    </table>
</div>